.header{
    background:#292D32;
    box-sizing: border-box;
    color: #f1f1f1;
    height:50px;
    padding: 0 15px;
    width:100%;
}
.header__title{
    color: #f1f1f1;
    display:inline-block;
    font-size:20px;
    text-decoration:none;
    margin:11px 0 0 0;
}
.header__item{
    color: #f1f1f1;
    text-decoration:none;
}
.header__item--right{
    float:right;
    height:10px;
    margin:14px 0 0 0;
}