@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html,body{
    height:100%;
}
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:10px 0;
}
.refunds-container, .loading-container{
    width:100%;
    flex-wrap: wrap;
}
.principal-container{
    width:80%;
    margin:auto;
}
.content-title {

}
.content-title__headline{

}
.content{
    box-sizing: border-box;
    padding:10px;
    width:calc(100% - 200px);
}

.button{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    cursor: pointer;
    color: #24292e;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;

}
.button--green{

}
.button--red{

}
.button--blue{

}
.table{

}
.table__row{

}
.table__td{

}
.login{
    background:grey;
    box-sizing: border-box;
    border-radius: 10px;
    height:300px;
    margin:auto;
    padding:15px;
    width:300px;
}

.card{
    background: #fbfbfb;
    border-radius:5px;
    border:1px solid #e3e8ed;
    box-sizing: border-box;
    box-shadow:2px 2px 2px #c9c9c9;
    margin:5px 5px 5px 5px;
    padding:10px;
    min-height:170px;
    max-width:calc(20% - 10px);
}
.card:first-child{
    margin:5px 5px 5px 0;
}
.card:last-child{
    margin:5px 0 5px 5px;
}
.card__title{
    font-size:20px;
    text-align: center;
}
.card__unordered-list{
    margin:10px 0;
}
.card__list-item{
    list-style: none;
    line-height: 20px;
}
.card__data{

}
.card__svg{
    width:150%; /* WHY ? */
    margin:auto;
}
.title{
    border-bottom: 1px solid #e3e8ed;
    line-height:60px;
    color:#292D32;
}
.badge{
    padding:2px 5px;
    color:white;
    max-width:50%;
    text-align: center;
    border-radius:5px;
    float:right;
}
.badge--pending{
    background:orange;
}
.badge--success{
    background:#48A446;
}
.badge--neutral{
    background:#292D32;
}
.badge--danger{
    background:#D13E41;
}
.badge__text{
    color:white;
}
.admin-options{
    clear:both;
    width:100%;
    padding:5px;
    box-sizing: border-box;
}
.admin-options__select{
    width:100%;
}